.header-row {
  display: flex;
  justify-content: space-between;
  padding: 30px 54px;
  align-items: center;
  .logo {
    cursor: pointer;
  }
  .registration {
    display: flex;
    align-items: center;
    p {
      padding-right: 24px;
      color: #999999;
      font-size: 14px;
      line-height: 20px;
    }
    button {
      background: #4e74f5;
      border-radius: 100px;
      width: 170px;
      height: 51px;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: #ffffff;
      &:hover {
        background: #748feb;
      }
    }
  }
}
@media (max-width: 700px) {
  .header-row {
    padding: 25px 24px;
    .registration {
      p {
        display: none;
      }
    }
  }
}
@media (max-width: 450px) {
  .header-row {
    padding: 25px 14px;
    .registration {
      button {
        width: 130px;
        height: 42px;
      }
    }
  }
}
@media (max-width: 310px) {
  .header-row {
    flex-direction: column;
    .registration {
      button {
        margin-top: 15px;
      }
    }
  }
}
