.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 160px;
  width: 689px;
  text-align: center;
  h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 76px;
    color: #000000;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    color: #999999;
    padding: 16px;
    text-align: center;
    width: 85%;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    .email-btn {
      background: #4e74f5;
      border-radius: 64px;
      height: 64px;
      width: 354px;
      font-weight: bold;
      font-size: 16px;
      line-height: 13px;
      color: #ffffff;
      margin-top: 22px;
      &:hover {
        background: #748feb;
      }
    }
    .get-email-btn {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #4e74f5;
      background: none;
      padding-top: 24px;
      padding-bottom: 24px;
      &:hover {
        color: #748feb;
      }
    }
  }
}
@media (max-width: 800px) {
  .main {
    width: 500px;
    padding-top: 100px;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 14px;
      width: 70%;
    }
  }
}
@media (max-width: 600px) {
  .main {
    width: 400px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
    .buttons {
      .email-btn {
        height: 56px;
        width: 254px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 430px) {
  .main {
    width: 300px;
    h1 {
      line-height: 40px;
    }
    .buttons {
      .email-btn {
        width: 200px;
      }
    }
  }
}
